{% extends 'base.html' %}
{% block stylesheet %}
<style media="screen">
  .form-group {
    text-align: left;
  }
  .bordered{
    border: 2px;
    border-color: black;
  }
</style>
{% endblock %}
{% block content %}
<div class="col-md-9" style="border-style: solid; padding: 2em;background:#F0F0F0;">
  {% for product in products %}
    <div class="col-md-4" style="padding-bottom: 1em;">
      <img src="#" alt="" width="100%">
      <a href="/product/{{product.id}}">{{product.name}}</a><br>
      <label class="label label-primary">{{product.price}}</label>
    </div>
  {% endfor %}
</div>
{% endblock %}
