{% extends 'base.html' %}
{% block title %}Produk{% endblock %}
{% block content %}
  <h2>Produk yang dijual</h2>
  <p>Berikut merupakan list nama produk yang dijual oleh <b style="color:grey; font-family: 'Arial'">Kunfayakun Rice Shop</b>, diantaranya dapat anda lihat di tabel berikut.</p>
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Nama Barang</th>
        <th>Harga / Kg</th>
        <th>Stok</th>
      </tr>
    </thead>
    <tbody>
      {% for produk in semua_produk %}
      <tr>
        <td>#</td>
        <td title="{{produk.nama}}">{{ product|truncatechars:12 }}</td>
        <td>{{ produk.harga }}</td>
        <td>{{ produk.get_jumlah_stok }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'tambah_produk' %}" class="btn btn-primary btn-block">Add</a>
{% endblock %}
