{% extends 'base.html' %}
{% block title %}
Procurement
{% endblock %}

{% block content %}
<h1>Procurement</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Nama Barang</th>
      <th>Qty</th>
      <th>Harga</th>
      <th>Tanggal dan Jam</th>
    </tr>
  </thead>
  <tbody>

    {% for procurement in procurements %}
    <tr>
      <td>#</td>
      <td>{{procurement.product}}</td>
      <td>{{procurement.quantity}}</td>
      <td>{{procurement.price}}</td>
      <td>{{procurement.created_at}}</td>
    {% endfor %}

  </tbody>
</table>
<a href="#" class="btn btn-default btn-block">Add new procurement</a>
{% endblock %}
