{% load transaction %}
Transaction number {{selling.id}}
buyer {{selling.buyer}}
<h2>Tambah Produk</h2>
{% for ticket in selling.detail_set.all %}
{{ticket.product.name}}
{{ticket.quantity}}
{{ ticket.quantity|multiply:ticket.product.price }}
{% endfor %}
<form action="{% url 'selling_detail' selling.id %}" method="post" role="form">
  {% csrf_token %}
  {% for field in form %}
    <div class="form-group{% if field.errors %} has-error{% endif %}">
    <label for="{{ field.label }}" class="control-label">{{ field.label }}</label>
    {% if field.label == 'Content' %}
    {% include 'markdown_editor.html' with textarea='id_content' %}
    {% endif %}
    {{ field }}
    {% if field.help_text %}
    <span class="help-block">{{ field.help_text }}</span>
    {% endif %}
    {% for error in field.errors %}
    <label class="control-label">{{ error }}</label>
    {% endfor %}
    </div>
  {% endfor %}
  <input type="submit" class="btn btn-block btn-success" name="" value="Save">
</form>
